@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}
.cenzel {
    font-family: 'Cinzel', sans-serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;